{% extends 'base.html' %}
{% block title %} Post Details {% endblock %}
{% block content %}

<div class="form-group row mb-2">
  <div class="col-sm-4">
    <h1>{{post.title}}</h1>

    <p>{{post.content}}</p>

    <p>By {{user.full_name}} </p>

  </div>
</div>

<form method="POST" action="/posts/{{post.id}}/delete">
  <div class="form-group row mb-2">
    <div class="col-sm-4">
      <a href="/users/{{user.id}}" class="btn btn-outline-primary">Cancel</a>
      <a href="/posts/{{post.id}}/edit" class="btn btn-primary">Edit</a>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>

{% endblock %}